<div class="bottom" id="comment_section">
    <h2>Comments</h2>>
      <% @comments.each do |comment| %>
         <p><%= comment.commenter %></p>
         <p><%= comment.body %></p>
     <% end %>
</div>
